<section class="product-details">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <ng-container *ngIf="product">
    <div class="detail-container">
      <div class="d-image">
        <img class="d-img" [src]="product?.ImageLink" alt="" />
      </div>
      <div class="details">
        <h3 class="m-0 title">{{product?.ProductName}}</h3>
        <h4 class="m-0 font-400">Price {{product?.Price | number: '1.2-2'}}</h4>

        <div class="chips">Category:
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>{{product?.Category}}</mat-chip>
          </mat-chip-list>
        </div>
        <div>
          <h4 class="m-0 font-400">Quantity: {{product?.Quantity}}</h4>
              <div class="description">{{product?.Description}}</div>
          <div class="add-cart-action">
            <mat-progress-bar *ngIf="loadingCart" mode="indeterminate"></mat-progress-bar>
            <button class="add-cart-btn" *ngIf="!product.cartQty" [ngClass]="loadingCart ? 'disable' : ''" (click)="addToCart(product)">Add to Cart</button>
            <div class="btn-cart-action" *ngIf="product.cartQty">
              <span class="btn-inc-dec" [ngClass]="product.cartQty > 0 ? (product.cartQty == 1 ?'disable':'') : ''" (click)="cartQtyChange('dec', product)">-</span>
              <span class="qty">{{product.cartQty}}</span>
              <span class="btn-inc-dec" [ngClass]="product.Quantity > 0 ? '' : 'disable'" (click)="cartQtyChange('inc', product)">+</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</section>
